<?php
return [
    'adminEmail' => '{{ app_smtp_mail_admin_email }}',
    'supportEmail' => '{{ app_smtp_mail_support_email }}',
    'senderEmail' => '{{ app_smtp_mail_general_email }}',
    'senderName' => '{{ app_smtp_mail_from_name }}',
    'user.passwordResetTokenExpire' => 3600,
    'projectTitle' => 'Influencers Gold',

    'bsVersion' => '4.x',
    'measure' => 60,
    'videoStatistic' => 3600,
];
